<script src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
<script src="__PUBLIC__/lib/layer/2.1/layer.js"></script> 
<script src="__PUBLIC__/lib/icheck/jquery.icheck.min.js"></script> 
<script src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.min.js"></script> 
<script src="__PUBLIC__/static/h-ui/js/H-ui.js"></script> 
<script src="__PUBLIC__/static/h-ui/js/H-ui.admin.js"></script> 
<script src="__PUBLIC__/lib/jquery/jquery.form.js"></script> 



