<include file="Common/meta" />
</head>
<body>
<!-- menu -->
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 
	<span class="c-gray en">&gt;</span> 系统设置 
	<span class="c-gray en">&gt;</span> 系统日志 
	<!-- 刷新 -->
	<a class="btn btn-success radius r" 
		style="line-height:1.6em;margin-top:3px" 
		href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav>
<!-- content -->
<div class="page-container" style="margin-top:-30px;">
	<div class="cl pd-5 mt-20">
		<form action="{:U('Customer/customer_list')}" method="post">
		<!-- date -->
		<input type="text" 
		onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',Date:'#F{$dp.$D(\'datemin\') or \'%y-%M-%d\'}'})" 
		id="datemin" class="input-text Wdate" placeholder="请选择添加时间" name="from" 
		style="width:200px;" value="{$log.from}"> 
		-
		<input type="text" 
		onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',Date:'#F{$dp.$D(\'datemin\') or \'%y-%M-%d\'}'})" 
		id="datemin" class="input-text Wdate" placeholder="请选择添加时间" value="{$log.to}" 
		style="width:200px;" name="to">
		<!-- button -->
		<button type="submit" class="btn btn-success radius" id="sousuo_user">
		<i class="Hui-iconfont">&#xe665;</i> 搜索日志</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20" style="margin-top:6px;"> 
		<span class="l">
			<!-- delete -->
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
			<i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		</span> 
		<!-- total -->
		<span class="r" style="line-height:30px;">
			共有数据&nbsp;&nbsp;
			<strong>{$log.total}</strong>&nbsp;&nbsp;条
		</span> 
	</div>
	<div class="mt-20" style="margin-top:10px;">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="40"><input type="checkbox" name="" value=""></th>
				<th>ID</th>
				<th>日志内容</th>
				<th>操作人员</th>
				<th>操作时间</th>
			</tr>
		</thead> 
		<tbody id="ks_user">
			<foreach name="log.log" item="v">
			<tr class="text-c">
				<td>
					<input type="checkbox" value="{$v.log_id}" name="dataid" 
					id="dataid" _id="{$v.log_id}">
				</td>
				<td>{$v.log_id}</td>
				<td>{$v.log_text}</td>
				<td>{$v.admin_name}</td>
				<td>{$v.log_time}</td>
			</tr> 
			</foreach>
			<tr><td colspan=16 style="text-align:center;">{$log.link}</td></tr>
		</tbody>
	</table>
	</div>
</div>
<include file="Common/foot" />
</body>
</html>

<!-- common -->
<script src="__PUBLIC__/zhiyan/common/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/WdatePicker.js"></script> 

<script>
var page_url = {
    'save_del' : "{:U('Log/log_del')}",
    'list_url' : "{:U('Log/log_list')}",
}
</script>
