<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">

		<dl id="menu-tongji">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i> 个人管理
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a _href="{:U('Member/member_pass')}" data-title="个人设置" 
					href="javascript:void(0)">个人设置</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-tongji">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i> 成员列表
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a _href="{:U('Member/member_list')}" data-title="成员列表" 
					href="javascript:void(0)">成员列表</a></li>
					<li><a _href="{:U('Member/chief_add')}" data-title="总监管理" 
					href="javascript:void(0)">总监管理</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-tongji">
			<dt>
				<i class="Hui-iconfont">&#xe622;</i> 业绩考核
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a _href="{:U('Member/business_member')}" data-title="业绩考核" 
					href="javascript:void(0)">业绩考核</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-tongji">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i> 渠道管理
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a _href="{:U('Channel/channel_list')}" data-title="渠道列表" 
					href="javascript:void(0)">渠道列表</a></li>
					<li><a _href="{:U('Channel/type_list')}" data-title="类型列表" 
					href="javascript:void(0)">类型列表</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-tongji">
			<dt>
				<i class="Hui-iconfont">&#xe61a;</i> 客户管理
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a _href="{:U('Customer/customer_list')}" data-title="客户列表" 
					href="javascript:void(0)">客户列表</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-system">
			<dt>
			<i class="Hui-iconfont">&#xe62e;</i> 业务管理
			<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>

					<li><a _href="{:U('Business/business_list')}" data-title="业务列表" 
					href="javascript:void(0)">业务列表</a></li>

					<li><a _href="{:U('Business/sign_list')}" data-title="签约列表" 
					href="javascript:void(0)">签约列表</a></li>
					
				</ul>
			</dd>
		</dl>

			<dl id="menu-tongji">
			<dt>
				<i class="Hui-iconfont">&#xe61a;</i> 合同管理
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>

					<li><a _href="{:U('Contract/contract_list')}" data-title="合同列表" 
					href="javascript:void(0)">合同列表</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-tongji">
			<dt>
				<i class="Hui-iconfont">&#xe61a;</i> 公司盈利
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>

					<li><a _href="{:U('Property/property_money')}" data-title="公司盈利" 
					href="javascript:void(0)">公司盈利</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-system">
			<dt>
			<i class="Hui-iconfont">&#xe62e;</i> 审核管理
			<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>

					<li><a _href="{:U('Property/property_list')}" data-title="审核列表" 
					href="javascript:void(0)">审核列表</a></li>
					
				</ul>
			</dd>
		</dl>

		<dl id="menu-article">
			<dt>
				<i class="Hui-iconfont">&#xe616;</i> 权限管理
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>

					<li><a _href="{:U('Node/role_list')}" data-title="角色列表" 
					href="javascript:void(0)">角色列表</a></li>

					<li><a _href="{:U('Node/node_list')}" data-title="节点列表" 
					href="javascript:void(0)">节点列表</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-system">
			<dt>
			<i class="Hui-iconfont">&#xe62e;</i> 系统设置
			<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>

					<li><a _href="{:U('Log/set')}" data-title="系统设置" 
					href="javascript:void(0)">系统设置</a></li>

					<!-- <li><a _href="{:U('Position/position_list')}" data-title="职位列表" 
					href="javascript:void(0)">职位列表</a></li> -->

					<li><a _href="{:U('Payment/pay_list')}" data-title="支付方式列表" 
					href="javascript:void(0)">支付方式列表</a></li>

					<li><a _href="{:U('Log/log_list')}" data-title="系统日志" 
					href="javascript:void(0)">系统日志</a></li>

					<!-- <li><a _href="{:U('Log/moban-01')}" data-title="系统模板1" 
					href="javascript:void(0)">系统模板1</a></li>
					
					<li><a _href="{:U('Log/moban-02')}" data-title="系统模板2" 
					href="javascript:void(0)">系统模板2</a></li> -->
					
				</ul>
			</dd>
		</dl>

	</div>
</aside>