<include file="Common/meta" />
</head>
<body>
<!-- menu -->
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 
	<span class="c-gray en">&gt;</span> 渠道管理 
	<span class="c-gray en">&gt;</span> 渠道列表 
	<!-- 返回 -->
    <span class="c-gray en" 
        onClick="history.go(-1);" style="cursor:pointer;">&gt;&nbsp;&nbsp;返回
    </span>
	<!-- 刷新 -->
	<a class="btn btn-success radius r" 
		style="line-height:1.6em;margin-top:3px" 
		href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav>
<!-- content -->
<div class="page-container" style="margin-top:-30px;">
	<div class="cl pd-5 mt-20">
		<form action="{:U('Channel/channel_list')}" method="post">
		<!-- text -->
		<input type="text" class="input-text" value="{$channel.channel_name}"
		style="width:120px" name="channel_name" placeholder="渠道名称" />
		<!-- text -->
		<input type="text" class="input-text" value="{$channel.channel_wechat}"
		style="width:120px" name="channel_wechat" placeholder="渠道微信号" />
		<!-- select -->
		<span class="select-box" style="width:120px;">
			<select name="province" id="province" onchange="getcity()" class="form-control select">
                <option value="-1">请选择省份</option>
                <foreach name="provice" item="value">
                    <option value="{$value.id}" <eq name="value.id" value="$channel.province_id">selected</eq>>
                        {$value.province}
                    </option>
                </foreach>
            </select>
		</span> 
		<!-- select -->
		<span class="select-box" style="width:120px;">
			 <select name="city" id="city" onchange="getblock()" 
            class="form-control select">
            </select>
		</span> 
		<!-- select -->
		<span class="select-box" style="width:120px;">
			 <select name="district" id="district" 
             class="form-control select">
            </select>
		</span> 
		<!-- select -->
		<span class="select-box" style="width:120px;">
			<select name="type_id" class="select">
				<option value="">请选择类型</option>
				<foreach name="type" item="v">
				<option value="{$v.type_id}" 
				<eq name="v.type_id" value="$channel.type_id">selected</eq>>
				{$v.type_name}</option>
				</foreach>
			</select>
		</span> 
		<!-- date -->
		<input type="text" 
		onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',Date:'#F{$dp.$D(\'datemin\') or \'%y-%M-%d\'}'})" 
		id="datemin" class="input-text Wdate" placeholder="请选择添加时间" name="from" 
		style="width:200px;" value="{$channel.from}"> 
		-
		<input type="text" 
		onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',Date:'#F{$dp.$D(\'datemin\') or \'%y-%M-%d\'}'})" 
		id="datemin" class="input-text Wdate" placeholder="请选择添加时间" value="{$channel.to}" 
		style="width:200px;" name="to">
		<!-- button -->
		<button type="submit" class="btn btn-success radius" id="sousuo_user">
		<i class="Hui-iconfont">&#xe665;</i> 搜规渠道</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20" style="margin-top:6px;"> 
		<span class="l">
			<!-- delete -->
			<a href="javascript:;" onclick="datadel()" class="btn btn-success more_coupon">
			选择添加渠道</a>
		</span> 
		<!-- total -->
		<span class="r" style="line-height:30px;">
			共有数据&nbsp;&nbsp;
			<strong>{$channel.total}</strong>&nbsp;&nbsp;条
		</span> 
	</div>
	<div class="mt-20" style="margin-top:10px;">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="60"><!-- <input type="radio" name="" value=""> -->单选按钮</th>
				<th>ID</th>
				<th>渠道名称</th>
				<th>渠道微信号</th>
				<th>粉丝数量</th>
				<th>省市区</th>
			</tr>
		</thead> 
		<tbody id="ks_user">
			<foreach name="channel.channel" item="v">
			<tr class="text-c">
				<td>
					<input type="radio" value="{$v.channel_id}" name="dataid" 
					id="dataid" _id="{$v.channel_id}">
				</td>
				<td>{$v.channel_id}</td>
				<td>{$v.channel_name}</td>
				<td>{$v.channel_wechat}</td>
				<td>{$v.channel_fans}</td>
				<td>{$v.province} {$v.city} {$v.area}</td>
			</tr> 
			</foreach>
			<tr><td colspan=15 style="text-align:center;">{$channel.link}</td></tr>
		</tbody>
	</table>
	</div>
</div>
<include file="Common/foot" />
</body>
</html>

<script src="__PUBLIC__/zhiyan/common/common.js"></script>
<script src="__PUBLIC__/lib/My97DatePicker/WdatePicker.js"></script> 

<script>
/* delete more */
function datadel(){
	var arr = [];
	$("input[name=dataid]:checked").each(function(){
		arr.push($(this).attr("_id"));
	});
	if(arr.length == 0){
		layer.alert("请选择要添加的渠道",{time:1000,icon:2});return false;
	}
	var id = arr.join(",");
	window.location.href="__URL__/business_add.html/&id=" + id;
}

/* 省市区 */
window.onload = function(){
    var city = {$city};
    var block = {$block};
    getcity();
    getblock();
}

/* 省市区 */
function getcity(){
    var citys = {$city};
    var province = $('#province').val();
    var city = $('#province').find("option:selected").text();
    $("#city").html("");
    $("#district").html("")
    $("#city").append("<option value='"+'-1'+"'>"+'请选择城市'+"</option>");
     $("#district").append("<option value='"+'-1'+"'>"+'请选择区域'+"</option>");
    $.post(
        "{:U('Channel/getcity')}", { province:province },
        function (res){
          res = JSON.parse(res);
          for (var i = 0; i <= res.length-1; i++) {
              if (res[i]['province'] != res[i]['city']){
                  if (res[i]['id'] == citys){
                    $("#city").append("<option value='"+res[i]['id']+"' selected='selected'>"
                      +res[i]['city']+"</option>");
                  }else{
                    $("#city").append("<option value='"+res[i]['id']+"'>"
                      +res[i]['city']+"</option>");
                  }
              }else{
                  if(province == citys){
                      $("#city").append("<option value='"+province+"' selected='selected'>"+city+"</option>");
                  }else{
                      $("#city").append("<option value='"+province+"'>"+city+"</option>");
                  }
                  break;
              }
          }
        }
    );
    return true;
}

/* 省市区 */
function getblock(){
    var block = {$block};
    var citys = {$city};
    if (citys != '-1'){
        if ($("#city").val() != '-1'){
            city = $("#city").val();
        }else{
            var city = citys;
        }
    }else{
        var city = $('#city').val();
    }
    $("#district").html("");
    $("#district").append("<option value='"+'-1'+"'>"+'请选择区域'+"</option>");
    $.post(
        "{:U('Channel/getblock')}",
        { city:city },
        function (res){
            res = JSON.parse(res);
            for (var j = 0; j <= res.length-1; j++) {
                if (res[j]['id'] == block){
                    $("#district").append("<option value='"+res[j]['id']
                      +"' selected='selected'>"+res[j]['district']+"</option>");
                }else{
                $("#district").append("<option value='"+res[j]['id']+"'>"+res[j]['district']+"</option>");
                }
            }
        }
    );
}
</script>
